<mk-box header="Water Leak Detection System" [isCollapsable]="false" [isRemovable]="false">
  <div class="change">{{ text }} {{ bgColor }}</div>
</mk-box>

<mk-box header="Current Status" [isCollapsable]="false" [isRemovable]="false">
  
  <div class="col-md-3">
    <div class="area">Area 1</div>
   <ul>
      <li *ngFor="let item of items | async">
        {{ item.flow1 }}
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <div class="area">Area 2</div>
    <ul>
      <li *ngFor="let item of items | async">
        {{ item.flow2 }}
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <div class="area">Area 3</div>
    <ul>
      <li *ngFor="let item of items | async">
        {{ item.flow3 }}
      </li>
    </ul>
  </div>
  <div class="col-md-3">
    <div class="area">Leak</div>
    <ul>
      <li *ngFor="let item of items | async">
        {{ calculation(item.flow1, item.flow2, item.flow3) }}
      </li>
    </ul>
  </div>
</mk-box>

<mk-box header="Import" [isCollapsable]="false" [isRemovable]="false">
  <p>UI components are configured as modules, once Angular Admin LTE is downloaded and configured, modules and apis can be imported from 'angular-loading-page' shorthand in your application code.</p>
  <pre><code class="language-typescript">import &#123; LayoutModule &#125; from 'angular-admin-lte';    //Loading layout module
import &#123; BoxModule &#125; from 'angular-admin-lte';       //Box component</code></pre>
</mk-box>

<mk-box header="Dependencies" [isCollapsable]="false" [isRemovable]="false">
  <p>Angular Admin LTE have no JS dependencies but still need Admin LTE and Bootstrap CSS. You can also use FontAwesome and Ionicons as it is used by default in Admin LTE.</p>
  <pre><code class="language-typescript">"styles": [
  "node_modules/bootstrap-css-only/css/bootstrap.min.css",
  "node_modules/font-awesome/css/font-awesome.css", // optional
  "node_modules/ionicons/css/ionicons.css", // optional
  "node_modules/admin-lte-css/dist/css/AdminLTE.css",
  "node_modules/admin-lte-css/dist/css/skins/_all-skins.css"
]</code></pre>
</mk-box>
